<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    
<meta charset="utf-8" />
    
<title>ParkIt</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />    
    
<script type="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">         </script> 
    
<script type="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js">  </script>
    <style type="text/css">
        body {
            background-color: transparent;
        }
        a:hover{
            color: green;
        }
        a{
            color: greenyellow;
        }
    </style>
      <style>
        #paybutton{
              color: white;
              width: 100px;
              height: 40px;
            }
    </style>
      <style>
        #label{
              background-color: #009e69; //#FFC300;
              color: white;
              width: 130px;
            }
    </style>
    <style>
        body {
            background:transparent;
            background: url('images/111.jpg') no-repeat fixed;
            background-size: cover;
            min-height: 650px;
            position: relative;
            border-color:transparent;
            box-shadow:none;
        }
        #textview{
              width: 200px;
              height: 25px;
            }
    </style>
</head>

<body>
<div class="container">
    <br /> <br />
<!--

    <table class="table table-bordered">
        <thead>
        <tr>
            <th width="20%" bgcolor="FFC300"> ID </th>
            <th width="20%" bgcolor="FFC300"> Customer Name</th>
            <th width="20%" bgcolor="FFC300"> Reserved Time(Hours)</th>
            <th width="20%" bgcolor="FFC300"> Charge per Hour</th>
            <th width="20%" bgcolor="FFC300"> Total</th>

        </tr>
    </thead>
    <body>
        <tr>
            <td th:text="${users.userid}" > </td>
            <td th:text="${users.name}" > </td>
            <td th:text="${reservation}" > </td>
            <td th:text="${slot.rateperhour}" ></td>
            <td th:text="${bill}" > </td>

        </tr>
    </tbody>
    </table>
-->
    
<p />
<h4> Here's your bill... </h4>  
<p />
    
<div class="input-group mb-3">
    
<div class="input-group-prepend">
    <span class="input-group-text" id="label"> customer id </span>
    </div>
    <input class="form-control"
           type="text"  th:value="${users.userid}" />
    </div>
    
<div class="input-group mb-3">
    
<div class="input-group-prepend">
    <span class="input-group-text" id="label"> customer name </span>
    </div>
    <input class="form-control"
           type="text"  th:value="${users.name}" />
    </div>
    
<div class="input-group mb-3">
    
<div class="input-group-prepend">
    <span class="input-group-text" id="label"> reserved time </span>
    </div>
    <input class="form-control"
           type="text"  th:value="${reservation}" />
    </div>
    
<div class="input-group mb-3">
    
<div class="input-group-prepend">
    <span class="input-group-text" id="label"> charge per hour </span>
    </div>
    <input class="form-control"
           type="text"  th:value="${slot.rateperhour}" />    </div>  <br />
    
    
<div class="input-group mb-3">
    
<div class="input-group-prepend">
    <span class="input-group-text" id="label"> total  </span>
    </div>
    <input class="form-control"
           type="text"  th:value="${bill}" />
    </div>
    <br />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button id="paybutton" type="button" value="Pay Now" class="btn btn-primary" name="pay">Pay Now</button>
    
</div>
</body></html>