<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8" />

    <title>parkit</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>

</head>

<body style="background-image: url('images/66.jpg') ;
                                    background-size: cover;">
<div class="container" style="background-color: transparent">

    <br/> <br/>
    <p style="color: white"><b> <h3> Here are nearest parkings to your destination  </h3></b></p>
    <h2><b>Select one </b></h2>

    <br/> <br/>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th width="25%" bgcolor="FFC300">parking name</th>
            <th width="25%" bgcolor="FFC300">distance </th>
            <th width="25%" bgcolor="FFC300">charge(per hour)</th>
            <th width="25%" style="border: hidden"></th>
        </tr>
        </thead>

        <tbody>
        <tr name="raw1" >
            <td style="color: white" th:text="${parking[0].name}"></td>
            <td style="color: white" th:text="${distance[0]}"></td>
            <td style="color: white" th:text="${parking[0].rateperhour}"></td>
            <td align="left" style="border: hidden"> <form th:action="@{/booking}" >
                      <input value= "14" name="parkid" type="hidden"/>
                <button  type="submit" class="btn btn-primary"> Book now </button> </form></td>
        </tr>
        <tr name="raw2">
            <td style="color: white" th:text="${parking[1].name}"></td>
            <td style="color: white" th:text="${distance[1]}"></td>
            <td style="color: white" th:text="${parking[1].rateperhour}"></td>
            <td align="left" style="border: hidden"> <a href="#" type="button" class="btn btn-primary"> Book now </a> </td>
        </tr>

        <tr name="raw3">
            <td style="color: white" th:text="${parking[2].name}"></td>
            <td style="color: white" th:text="${distance[2]}"></td>
            <td style="color: white" th:text="${parking[2].rateperhour}"></td>
            <td align="left" style="border: hidden"> <a href="#" type="button" class="btn btn-primary"> Book now </a> </td>
        </tr>

        <tr name="raw4">
            <td style="color: white" th:text="${parking[3].name}"></td>
            <td style="color: white" th:text="${distance[3]}"></td>
            <td style="color: white" th:text="${parking[3].rateperhour}"></td>
            <td align="left" style="border: hidden"> <a href="#" type="button" class="btn btn-primary"> Book now </a> </td>
        </tr>

        <tr name="raw5">
            <td style="color: white" th:text="${parking[4].name}"></td>
            <td style="color: white" th:text="${distance[4]}"></td>
            <td style="color: white" th:text="${parking[4].rateperhour}"></td>
            <td align="left" style="border: hidden"> <a href="#" type="button" class="btn btn-primary"> Book now </a> </td>
        </tr>


        </tbody>
    </table>
</div>


</body>
</html>