<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"/>

    <title>ParkIt</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <style type="text/css">

        body {
            background-color: transparent;
        }

        a:hover{
            color: green;
        }
        a{
            color: greenyellow;
        }

    </style>
</head>
<body>
<div class="container">
    <table width="100%">
        <tr width="50%">
            <th><h3> Distance</h3> </th>



        </tr>
        <tr width="50%"  >

            <td th:text="${distance}" > </td>
            <td th:text="${diss}" > </td>











            <!--td><a href="garageInfo.html" th:href="@{http://localhost:8080/Garage(id=${payment.garageId.garageId})}" th:text="${payment.garageId.garageId}"> </a> </td-->
            <!--td><a href="garageInfo.html" th:href="@{http://localhost:8080/Garage(id=${payment.garageId}?${payment.garageId.garageId}:1)}" th:text="${payment.garageId}?${payment.garageId.garageId}:'NA'"> </a> </td-->

        </tr>
    </table>
    <button type="button" value="Pay Now" id="pay" name="pay">Pay Now</button>
</div>
</body>

</html>