<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ParkIt</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        body {
            background: url('img/10.jpg') no-repeat fixed;
            background-size: cover;
            border-color:transparent;
            box-shadow:none;
        }
        .card-container.card {
            max-width: 1000px;
            padding: 10px 10px;
        }

        .card {
            background-color: transparent;
            /* just in case there no content*/
            padding: 20px 25px 30px;
            margin: 0 auto 25px;
            margin-top: 0px;
            /* shadows and rounded borders */
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            -moz-box-shadow: 0px 20px 20px rgba(0, 0, 0, 1);
            -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0,1);
            box-shadow: 0px 20px 20px rgba(0, 0, 0, 1);
        }

        .profile-name-card {
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            margin: 10px 0 0;
            min-height: 1em;
        }

        .btn.btn-signin:hover,
        .btn.btn-signin:active,
        .btn.btn-signin:focus {
            background-color: rgb(255, 153, 0);
            border-color: rgb(255, 153, 0);
        }



    </style>
</head>
<body>
<!--container=====================================================================-->
<div class="container">
    <div class="card card-container">

            <h2 style="color:black;">Add Your Parking Details</h2>

        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin" th:action="@{/prkadded}" method="post">
            <span id="reauth-email" class="reauth-email"></span>Rate Per Hour:
            <input type="text" class="form-control" name="rateperhour" placeholder="RatePerHour" th:field="${parkinglocation.rateperhour}" /><br/>Company ID

            <input type="text" class="form-control" name="companyId" placeholder="CompanyId" th:field="${parkinglocation.companyId}" /><br/>Company Name
            <input type="text" class="form-control"  placeholder="Parking Name" name="name" th:field="${parkinglocation.name}"/><br/>No Of Slots
            <input type="text" class="form-control"  placeholder="NoOfSlots" name="noofslots" th:text="${parkinglocation.noofslots}"/><br/>







            <div id="map" style="width:100%;height:1000px;"></div>

            <script>
                function myMap() {
                    var mapCanvas = document.getElementById("map");
                    var myCenter=new google.maps.LatLng(7.0,80.0);
                    var mapOptions = {center: myCenter, zoom: 12};
                    var map = new google.maps.Map(mapCanvas, mapOptions);
                    google.maps.event.addListener(map, 'click', function(event) {
                        placeMarker(map, event.latLng);
                    });
                }

                function placeMarker(map, location) {
                    var marker = new google.maps.Marker({
                        position: location,
                        map: map

                    });
                    var lat= location.lat();
                    var lng= location.lng();
                    document.getElementById("lat").value = lat;
                    document.getElementById("lng").value = lng;

                }
            </script>

            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_l0QcTN8nMr8njfDhjlAO68COZCaUxRc&amp;callback=myMap"></script>
            <br/>
            <input type="text" class="form-control" name="latitudecordinate" id="lat" placeholder="Latitude"  th:text="${parkinglocation.latitudecordinate}" /><br/>

            <input type="text" class="form-control" name="longitudecordinate"  id="lng" placeholder="Longitude" th:text="${parkinglocation.longitudecordinate}"/><br/>








            <a href="/searchcompany" class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Add Parkings></a><br/>
        </form>
    </div>
</div>
<!-- /container===================================================================-->







</body>
</html>
