<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8" />

    <title>Accident Details</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style type="text/css">
        body{
            background: gray url('images/pic1.jpg') no-repeat fixed;
        }
        a:hover{
            color: white;
        }
        a{
            color: brown;
        }
    </style>

</head>
<body>

<h2>Parking Location</h2>

<div id="map" style="width: 100%; height: 500px;" />

<script th:each="parking : ${parking}" th:inline="javascript">
    /*<![CDATA[*/

    function myMap() {
var lat=[]= new Array;
var lng=[]=new Array;


        /*[# th:each="parking : ${parking}"]*/
    lat=[[${parking}]];
        /*[# th:each="parking : ${parking}"]*/
  lng.push([[${parking}]]);
 document.write(lat[1])
        document.write(lat[0]);
        document.write(lng[0]);
        document.write(lng[1]);



        var myCenter = new google.maps.LatLng(8.9,79.0);
        var mapCanvas = document.getElementById("map");
        var mapOptions = {center: myCenter, zoom: 5};
        var map = new google.maps.Map(mapCanvas, mapOptions);

       for(var i=0;i<4;i++){
            var marker = new google.maps.Marker({

                position: new google.maps.LatLng(lat[i],lng[i]),
                map: map,
                title: 'Available Slots',
                url: 'http://www.google.com'
            });
            marker.setMap(map);
            google.maps.event.addListener(marker,'click',function() {
                var infowindow = new google.maps.InfoWindow({
                    content:'Available slots',

                });
                infowindow.open(map,marker);
            });
            google.maps.event.addListener(marker, 'click', function() {
                window.location = marker.url;
            });}
    } //]]>
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_l0QcTN8nMr8njfDhjlAO68COZCaUxRc&amp;callback=myMap"></script>
</body></html>