<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"/>

    <title>ParkIt</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <style type="text/css">

        body {
            background-color: transparent;
        }

        a:hover{
            color: green;
        }
        a{
            color: greenyellow;
        }

    </style>
</head>
<body>
<div class="container">
    <table width="100%">
        <tr width="50%">
            <th><h3> ID</h3> </th>
            <th><h3>Customer Name</h3></th>

            <th><h3>Reserved Time(Hours)</h3></th>
            <th><h3>Charge per Hour</h3></th>
            <th><h3>Total</h3> </th>


        </tr>
        <tr width="50%">
            <td th:text="${parking[0].name}" > </td>
            <td th:text="${parking[1].name}" > </td>
            <td th:text="${distance[0]}" > </td>
            <td th:text="${distance[1]}" > </td>




            <!--td><a href="garageInfo.html" th:href="@{http://localhost:8080/Garage(id=${payment.garageId.garageId})}" th:text="${payment.garageId.garageId}"> </a> </td-->
            <!--td><a href="garageInfo.html" th:href="@{http://localhost:8080/Garage(id=${payment.garageId}?${payment.garageId.garageId}:1)}" th:text="${payment.garageId}?${payment.garageId.garageId}:'NA'"> </a> </td-->

        </tr>
    </table>
    <button id="pay" name=""></button>
</div>
</body>

</html>