<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Accident Details</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style type="text/css">
        body{
            background: gray url('images/pic1.jpg') no-repeat fixed;
        }
        a:hover{
            color: white;
        }
        a{
            color: brown;
        }


    </style>

    
</head>
<body >

<h2>Parking Location</h2>

<div id="map" style="width:100%;height:500px"></div>

<script th:each="parking : ${parking}" th:inline="javascript">
    /*<![CDATA[*/

    function myMap() {


        /*[# th:each="parking : ${parking}"]*/
             var lat= [[${parking.latitudecordinate}]];
             var lng= [[${parking.longitudecordinate}]];

        var myCenter = new google.maps.LatLng(lat,lng);
        var myCenterr = new google.maps.LatLng(lat,lng);
        var latlon =  [[lat,lng]] ;
            var mapCanvas = document.getElementById("map");
            var mapOptions = {center: myCenter, zoom: 8};
            var map = new google.maps.Map(mapCanvas, mapOptions);
            var marker = new google.maps.Marker({position: myCenterr});
            marker.setMap(map);
        /*[/]*/


    }
    function resizeMap(map) {
        google.maps.event.trigger(map, 'resize');

    }
    /*]]>*/
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_l0QcTN8nMr8njfDhjlAO68COZCaUxRc&amp;callback=myMap"></script>

</body>
</html>