<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Vehicle Info</title>

    <style type="text/css">
        p{
            color: greenyellow;
        }

        h2{
            color: gold;
        }
        </style>
</head>
<body>
<h2>User Information</h2>
<p th:text="'name : '+${users.name}"></p>
<p th:text="'vehicleId : '+${users.nic}"></p>
</body>
</html>