<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="refresh" content="5"/>
    <title>ParkIt</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <style type="text/css">

        body {
            background-color: transparent;
        }

        a:hover{
            color: green;
        }
        a{
            color: greenyellow;
        }

    </style>
</head>
<body>
<div class="container">
    <table width="100%">
        <tr width="50%">
            <th> ID </th>
            <th> Name</th>
            <th>Contact No</th>
            <th>Email</th>
            <th>Avoid Count</th>
            <th>Blacklist Status</th>


        </tr>
        <tr width="50%" th:each="users : ${users}">
            <td th:text="${users.userid}" > </td>
            <td th:text="${users.name}"></td>
            <td th:text="${users.contactno}"></td>
            <td th:text="${users.email}"></td>
            <td th:text="${users.avoidedCount}"></td>
            <td th:text="${users.blackListStatus}"></td><td><a href="/editusers">Edit</a></td>





            <!--td><a href="garageInfo.html" th:href="@{http://localhost:8080/Garage(id=${payment.garageId.garageId})}" th:text="${payment.garageId.garageId}"> </a> </td-->
            <!--td><a href="garageInfo.html" th:href="@{http://localhost:8080/Garage(id=${payment.garageId}?${payment.garageId.garageId}:1)}" th:text="${payment.garageId}?${payment.garageId.garageId}:'NA'"> </a> </td-->

        </tr>
    </table>
</div>
</body>

</html>